<customnavbar2></customnavbar2>

<loginregisterdiv></loginregisterdiv>

<div>
    <img class="center-block" src="./images/poll_image_2.png" alt="quote" style="width: 100%;">
</div>
<h3 ng-show="poll.length === 0">Sign in to see all the polls!</h3>
<hr>

<table ng-table="vm.tableParams" class="table" show-filter="true">
  <tr ng-repeat="poll in $data">
      <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
          <a ng-click="vm.goToThisPoll(poll)" target="_blank"> {{poll.name}}</a></td>
      <td title="'User'" filter="{ userName: 'text'}" sortable="'userName'">
          {{poll.userName }}</td>
  </tr>
</table>